/* CSS Document */

    .tijiao{
    width:1200px;
    height:400px;
    margin:20px auto;
    background:#fff;
    padding: 20px;}
    .tijiao p{
    position: relative;
    margin-bottom: 10px;
    line-height: 40px;
    color: #333;
    font-size: 17px;
    position: relative;
    padding-left: 20px;}
    .tijiao p .wb{
position: absolute;}
   .tijiao p .bd{
height: 44px;
    line-height: 25px;
    color: #666;
    width: 400px;
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #F1F1F1;}
.an{
font-size: 17px;
    border: 1px solid #F1F1F1;
    width: 400px;
    margin-left: 115px;
    text-align: center;
    background: #20c4ab;}
.an .an1{
background:#20c4ab;line-height: 50px;color:#fff;display:block;width:400px;cursor:pointer;}
.an .an1:hover{background: #21af99;}
.bg{
    background: url(//static.daohangtx.com/static/img/kv.jpg) no-repeat center center;
    height: 410px;
    background-size: cover;
    background-color: #F9F9F9;
    width: 100%;}
.bg_logo{
    background: url(/img/text.png) no-repeat center center;
    height: 143px;
    width: 837px;
    position: absolute;
    top: 360px;
    left: 50%;
    margin-left: -418.5px;
    margin-top: -71.5px;}
.tj{width: 400px;
    max-width: calc(100% - 630px);
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
    background: #fffaf5;
    color: #f93b00;
    padding: 15px 30px;
    border-radius: 5px;
    position: relative;
    top: -380px;
    right: -700px;}